button {
    height: 30px;
    width: 30px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 1px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    padding: 0;
    margin: auto;
  }

  button:active{
      position: relative;
      top: -1px;
    box-shadow: 1px 1px 1px -1px grey;
  }

  .container{

    width: 150px;
  }
  .info{
      font-size: 10px;
  }

  .header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


  .header p {
    margin-left: 2px;
  }




  
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }